[*.cs]

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# ASP0000: Do not call 'IServiceCollection.BuildServiceProvider' in 'ConfigureServices'
dotnet_diagnostic.ASP0000.severity = none
